extends layout

block headerLinks

block main
  h2 Edit details for '#{currentName}'
  form(action=`/scientists/${sciId}/edit` method="post")
    dl
      dt
        label Computer Scientist Name:
      dd
        input(type="text"
              name="fullname"
              placeholder="Name"
              value=fullname)
      dt
        label Birthdate: 
      dd
        input(type="text"
              name="birthdate"
              placeholder="YYYY-MM-DD"
              value=birthdate)
      dt 
        label Birthplace:
      dd
        input(type="text"
              name="birthplace"
              placeholder="Some place"
              value=birthplace)        
      button.save Save
      a(href=`/scientists/${sciId}?factpg=1`) Cancel